/* ----- View List Styling ----- */
.viewlist-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  text-align: center;
  background-color: #FBFBFB;
}


